language: node_js
node_js:
  - "8.11.2"
before_script:
  - npm install -g mocha
install:
  - npm install -g codecov
script:
  - istanbul cover ./node_modules/mocha/bin/_mocha --reporter lcovonly -- -R spec
  - codecov
